<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028948685500-jolqek1kj5j576vg0sqts312pl7o059d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028948685500-jolqek1kj5j576vg0sqts312pl7o059d</string>
	<key>API_KEY</key>
	<string>AIzaSyBZT_rPeT201lmKwyJRa9zyH-ZrjNsAqEo</string>
	<key>GCM_SENDER_ID</key>
	<string>1028948685500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raahERoshan</string>
	<key>PROJECT_ID</key>
	<string>raaheroshan</string>
	<key>STORAGE_BUCKET</key>
	<string>raaheroshan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028948685500:ios:8df798c72fbbae81cf96b9</string>
</dict>
</plist>